* {
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: Tahoma, Arial;
}
* {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
  
  .body-text {
  
    display: flex;
  
    font-family: "Montserrat", sans-serif;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 250px;
  
  }
  
  nav {
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    min-height: 8vh;
  
    background-color: teal;
  
    font-family: "Montserrat", sans-serif;
  
  }
  
  .heading {
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: white;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: lightseagreen;
  
  }
  
  .nav-links li a.active {
  
    background-color: #4caf50;
  
  }
nav {
    width: 100%;
    background-color: #60d273;
    height: 44px;
    padding: 0 40px;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav ul li a:hover  {
    background-color: white;
    color: #4d5791;
}

div.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('/bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    color: #4d915f;
}

.container {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

.bottom {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.center {
    text-align: center;
}

.container article{
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}
footer {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container .div.text-box {
        margin: 10px;
    }
}
div.skip{
    display: block;
    padding: 0 60px;
    background-color: #b4c6f0;
}

div.skip a{
    color: black;
    text-decoration: none;
    font-size: 1.4em;
    line-height: 44px;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* width: 960px;
    height: 500px;
    position: relative; */
  }
  
  svg {
      width: 100%;
      height: 100%;
  }
  
  path.slice{
      stroke-width:2px;
  }
  
  polyline{
      opacity: .3;
      stroke: black;
      stroke-width: 2px;
      fill: none;
  }

  #pie-chart{
    height: 500px;
  }